/******************************************************************* COLORS ***/

$col-black     : black;
$col-black-dark: black;

$col-red-light : red;
$col-red       : red;

/****************************************************************** /COLORS ***/

/******************************************************************* SPACES ***/

$pad-outer     : 60px;
$pad-inner     : 30px;

$border-width  : 10px;

/****************************************************************** /SPACES ***/
